<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://media.tenor.com/jvbPYIiSRr4AAAAC/rengoku-kyojuro.gif"
     alt=""
     height="300px"

     srcset=""
    >

  </div>
  <div class="big-card__title">

    <h1><a href="#">Novo blog em Angular!</a></h1>

  </div>
  <div class="big-card__description">
    <p>Incendeie seu coração!!</p>
    <p>Se estiver se sentindo desmotivado
      ou sentindo que não é bom o suficiente...
      incendeite o seu coração.
      Quando se entristecer ou se acovardar lembre-se que o
      fluxo do tempo nunca para
      Ele não vai te esperar enquanto
      você se afoga em tristeza
    </p>

    <br><br><br><br><br><br><br><br><br><br>

  </div>
</div>
