.container__small-card {

  width: 500px;

}

.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  width: 250px;
  height: 150px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.small-card__title {
  display: flex;
  justify-content: center;
}

.small-card__description > p {
  margin-top: 5px;
  font-size: 13px;
  color: gray;
  display: flex;
  flex-direction: row;
}

.container__small-card-separator > hr {
  margin-bottom: 10px;
  border-color: rgba(255, 255, 255, 0.033);
}


