


<app-menu-title></app-menu-title>


<H1>DEMON SLAYER</H1>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover1="https://media.tenor.com/n-qPocKqtGYAAAAd/rengoku-kyojuro-eat.gif"
    cardTitle="Kyojuro Rengoku"
    cardDescription="Incendeie seu coração!!"
    cardDescricao2="Se estiver se sentindo desmotivado ou sentindo que não é bom o suficiente... incendeite o seu coração. Quando se entristecer ou se acovardar lembre-se que o fluxo do tempo nunca para Ele não vai te esperar enquanto você se afoga em tristeza."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    Id="2"
    photoSmallCover1="https://i.imgur.com/s9uHK1m.gif"

    cardTitle="Giyu Tomioka"
    cardDescricao2="Os fracos não têm direitos nem escolhas. Seu único destino é ser implacavelmente esmagados pelos fortes... Não chore. Não se desespere. Agora não é hora para isso."></app-small-card>
    <app-small-card
    Id="3"
    photoSmallCover1="https://i.pinimg.com/originals/97/23/82/972382b03928c05a048a88db705d3a55.gif"
    cardTitle="Mitsuri Kanroji"
    cardDescricao2="Está tudo bem em chorar. Está tudo bem em fugir. Apenas não desista... Se você só é bom em uma coisa, torne-se o melhor nela."
    ></app-small-card>
    <app-small-card
    Id="4"
    photoSmallCover1="https://pa1.aminoapps.com/8284/e4117fcc2be4224baafb4685c331370405360631r1-480-270_hq.gif"
    cardTitle="Tengen Uzui"
    cardDescricao2="Sim! Eu sou extravagante!!"
    ></app-small-card>

  </div>
</div>

<h1>ONE PIECE</h1>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>

  </div>
</div>
